<!DOCTYPE html>
<html lang="en" th:fragment="header">
    <!-- 해당 태그에 플러그 이름 정하기 -->
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 사용자 정의 CSS 호출 -->
    <link rel="stylesheet" href="../static/main.css">   <!-- 작동안함 -->
<!-- <link rel="stylesheet" href="main.css">    실제 path, static부터 경로가 시작된다.    -->
    <link rel="stylesheet" th:href="@{/main.css}">      <!-- 작동하는 코드 -->


</head>
<body>
    <!-- Jquery CDN -->
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>

    <h3>해더입니다</h3>
    <script src="../static/main.js"></script>   <!-- 작동 안함 -->
    <script th:src="@{/main.js}"></script>      <!-- 작동하는 코드 -->




</body>
</html>